@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Roboto&family=Roboto+Serif:ital,opsz@0,8..144;1,8..144&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&family=Roboto+Serif:ital,opsz@0,8..144;1,8..144&display=swap'); */






:root {
    --primaryColor: #01c2cc;
    --accentColor: #1b4547;
    --offBlack: #10021c;
    --offLighterBlack: #1b0430;
    --offWhite: #ecfeff;
    --gray: #cdd0d1;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--offBlack);
    color: var(--primaryColor);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 1rem;
    max-width: 50rem;
    margin: auto;
}

code,
pre {
    /* font-family: 'Roboto Mono', monospace; */
    font-family: 'Fira Code', monospace;
}

.help pre {
    background-color: var(--offBlack);
    padding: 1rem
}

p {
    margin: 0 0 1rem 0
}


/* header {
    display: none;
} */

summary {
    margin-bottom: 10px;
    cursor: pointer;
    width: 3.5rem;
    background-color: var(--accentColor);
    padding: 3px 5px;
    border-radius: 5px;

}

.help {
    border-radius: 5px;
    border: solid 2px var(--accentColor);
    padding: 1rem;
    background-color: var(--offLighterBlack);
    margin: 10px 0
}

.help h2 {
    font-size: 1.2rem;

}

.highlight {
    display: inline-block;
    border: solid 0px;
    border-radius: 5px;
    background-color: var(--gray);
    color: var(--accentColor);
    padding: 0 .2rem
}

.build-instructions {
    /* font-family: 'Roboto Mono', monospace; */
    font-family: 'Fira Code', monospace;
    border-radius: 5px;
    border: solid 0;
    padding: 1rem;
    background-color: var(--gray);
    height: 15rem;
    max-width: 50rem;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    font-size: 1rem;
    font-family: monospace;
    transition: all linear 0.2s;
}

.button-area {
    margin: 1rem auto;
}

.row2 {
    margin-top: 10px;
}

.error {
    color: rgb(193, 1, 1);
    font-weight: bold;
}

.result-area pre {
    background-color: var(--gray);
    padding: .5rem;
    color: var(--offBlack);
}

.result-area {
    font-family: 'Roboto Serif', serif;
    background-color: var(--offWhite);
    color: var(--accentColor);
    padding: 1rem;
    border-radius: 5px;
    border: solid 0;
    padding: 1rem;
    max-width: 50rem;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
}

p.added {
    font-style: italic;
    margin: auto;
    padding: 0 2rem;
}

.fade-out {
    color: transparent;
    transition: all linear 0.5s;
}

.action-message {
    font-weight: bold;
}

.fade {
    animation: fade-in 2s;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-moz-keyframes fade-in {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-o-keyframes fade-in {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-ms-keyframes fade-in {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@media only screen and (max-width: 775px) {
    .result-area blockquote {
        margin-left: 1rem
    }
}